.container {
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.searchInput {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  min-width: 200px;
}

.select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.productItem {
  text-decoration: none;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: block;
  max-width: 800px;
  margin: 0 400px;
}

.productItem:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  background-color: #f9f9f9;
}

.noResult {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  padding: 2rem;
}

.addButton {
  padding: 10px 20px;
  background-color: #0f9d58;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addButton:hover {
  background-color: #0a7c43;
}

.productLink {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.productLink:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  background-color: #f9f9f9;
}

